{% extends 'base.html.twig' %}

{% block title %}
	{{ page.title }}
{% endblock %}
{% block meta_description %}
	{{ page.description }}
{% endblock %}
{% block meta_keywords %}
	{{ page.keyword }}
{% endblock %}

{% block body %}
	<section class="about-us">
		<section class="hero">
			<div class="hero-text shadow border-radius-12 px-5 py-4">
				<h1 class="text-tertiary content">Building a Stronger Tomorrow</h1>
				<p class="m-0 text-white content">Precision Engineering for a Better Future</p>
			</div>
		</section>

		<section class="name-change">
			<div class="container my-3">
				<div class="">
					<h1 class="text-center text-secondary fw-bold mb-3">A New Name, A Stronger Commitment</h1>
					<p class="m-0">Namadeva Steel Center is now
						<span class="text-last">Namdev Infratech</span>
						to better represent what we do today. What started in
						<strong>2003</strong>
						as a simple material supply business has grown into a complete solution provider for interior design, architecture, and construction. From handling
						<strong>25 tonnes</strong>
						back then to managing
						<strong>400 tonnes</strong>
						per month now, we’ve come a long way.
						<br/>
						Over the years, we’ve learned a lot about the challenges
						<span class="fst-italic text-last">designers, architects, and contractors</span>
						face, and we’ve adapted to meet their needs. With services like
						<span class="fst-italic text-last">custom fabrication, laser cutting, HR plate cutting, and more</span>, our new name reflects our commitment to providing innovative, reliable solutions that help turn their ideas into reality.</p>


				</div>
			</div>
		</section>


		<!-- Introduction Section -->
		<section class="introduction parallax">
			<div class="container">
				<div class="intro-text bg-white border-radius-8 shadow p-5">
					<h2 class="text-last fw-bold content mb-3">About Namdev Infratech</h2>
					<p class="text-secondary content">What started as a small material supply business has grown into a trusted,
																																																																																																							multifunctional center serving diverse industries. With over two decades of
																																																																																																																																						experience, we’ve witnessed the challenges professionals face in
																																																																																																																																						procuring structural materials and related services. That’s where we step
																																																																																																																																						in—bridging the gap between designers, architects, and contractors to
																																																																																																																																						turn their vision into reality with precision and reliability.</p>
					<p class="text-secondary content">
						Our journey began in 2003, driven by the vision of our founder, Bajrang Lal
																																																																																																																																					Didwania, to contribute meaningfully to the core industries of the
																																																																																																																																					economy. From supplying just 25 tonnes of material in our early days, we
																																																																																																																																					now handle 400 tonnes per month, supporting projects across interior
																																																																																																																									design, architecture, construction, and beyond.</p>

					<p class="text-secondary content">

						But we don’t just supply materials—we create solutions. With expertise in
																																																																																																																																				custom fabrication, laser cutting, HR plate cutting, and precision
																																																																																																																																				engineering components, we ensure that every project gets the right
																																																																																																																																				material, right service, and the right execution.</p>
					<p class="text-secondary content">At Namadev Infratech, we don’t just sell steel—we build trust,
																																																																																																																																				craftsmanship, and lasting partnerships.</p>


				</div>
			</div>
		</section>

		<!-- Company History Section -->


		<!-- Mission, Vision, Values Section -->
		<section class="mission-vision-values bg-secondary">
			<div class="container">
				<div class="d-flex flex-wrap justify-content-center justify-content-lg-between">
					<div class="p-3 content">
						<h2 class="text-primary my-2">Our Mission</h2>
						<i class="fas fa-bullseye fa-2x text-primary mb-2"></i>
						<p class="text-tertiary w-250 m-auto fw-bold">Delivering high-quality steel products with integrity and innovation.</p>
					</div>

					<div class="p-3 content">
						<h2 class="text-primary my-2">Our Vision</h2>
						<i class="fas fa-bullseye fa-2x text-primary mb-2"></i>
						<p class="text-tertiary w-250 m-auto  fw-bold">To be the world leader in sustainable steel solutions.</p>
					</div>

					<div class="p-3 content">
						<h2 class="text-primary my-2">Our Values</h2>
						<i class="fas fa-heart fa-2x text-primary mb-2"></i>
						<p class="text-tertiary w-250 m-auto fw-bold">Commitment, Excellence, and Innovation.</p>
					</div>
				</div>

			</div>
		</section>
		<section class="py-5 bg-light">
			<div class="container">
				<h2 class="text-center mb-5">Why Us?</h2>
				<div class="row align-items-center g-5">
					<div class="col-lg-5">
						<img src="{{ asset('images/about-us-hero.webp') }}" alt="Why Us Image" class="img-fluid rounded-3 shadow">

					</div>
					<div class="col-lg-7">
						<div class="row g-4">
							<div class="col-12 d-flex">
								<div class="me-3">
									<div class="border rounded-circle d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
										1
									</div>
								</div>
								<div>
									<h5 class="mb-1">Two Decades of Expertise</h5>
									<p class="mb-0 small text-muted">20+ years of experience in steel, metal, and industrial fabrication ensuring reliability and know-how.</p>
								</div>
							</div>
							<div class="col-12 d-flex">
								<div class="me-3">
									<div class="border rounded-circle d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
										2
									</div>
								</div>
								<div>
									<h5 class="mb-1">Complete Solution</h5>
									<p class="mb-0 small text-muted">From initial layouts to custom fabrications, we offer full service covering design, fabrication, and assembling.</p>
								</div>
							</div>
							<div class="col-12 d-flex">
								<div class="me-3">
									<div class="border rounded-circle d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
										3
									</div>
								</div>
								<div>
									<h5 class="mb-1">Precision & Quality</h5>
									<p class="mb-0 small text-muted">We guarantee precise cuts, smooth fabrication, and the finest industrial metalworks.</p>
								</div>
							</div>
							<div class="col-12 d-flex">
								<div class="me-3">
									<div class="border rounded-circle d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
										4
									</div>
								</div>
								<div>
									<h5 class="mb-1">Client-Centric Approach</h5>
									<p class="mb-0 small text-muted">We collaborate closely to craft tailor-made solutions based on specific project needs.</p>
								</div>
							</div>
							<div class="col-12 d-flex">
								<div class="me-3">
									<div class="border rounded-circle d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
										5
									</div>
								</div>
								<div>
									<h5 class="mb-1">Timely Delivery & Seamless Execution</h5>
									<p class="mb-0 small text-muted">Our streamlined process ensures timely handovers without compromising on quality.</p>
								</div>
							</div>
							<div class="col-12 d-flex">
								<div class="me-3">
									<div class="border rounded-circle d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
										6
									</div>
								</div>
								<div>
									<h5 class="mb-1">Warranty on our Service</h5>
									<p class="mb-0 small text-muted">6-month warranty on fabrication services to ensure your satisfaction.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="py-5">
			<div class="container">
				<h2 class="text-center mb-5">Our Process</h2>
				<div class="row g-5 justify-content-center">
					<div class="col-12 col-sm-6 d-flex">
						<div class="me-3">
							<div class="border rounded-circle d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
								1
							</div>
						</div>
						<div>
							<h5 class="mb-1">Free Consultation</h5>
							<p class="mb-0 small text-muted">We understand your requirements, offering expert guidance to help you make informed decisions.</p>
						</div>
					</div>
					<div class="col-12 col-sm-6 d-flex">
						<div class="me-3">
							<div class="border rounded-circle d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
								2
							</div>
						</div>
						<div>
							<h5 class="mb-1">Design Discussion</h5>
							<p class="mb-0 small text-muted">Collaborative sessions to transform ideas into functional, aesthetic, and feasible designs.</p>
						</div>
					</div>
					<div class="col-12 col-sm-6 d-flex">
						<div class="me-3">
							<div class="border rounded-circle d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
								3
							</div>
						</div>
						<div>
							<h5 class="mb-1">Project Budgeting</h5>
							<p class="mb-0 small text-muted">We prepare a transparent budget without compromising on quality and timelines.</p>
						</div>
					</div>
					<div class="col-12 col-sm-6 d-flex">
						<div class="me-3">
							<div class="border rounded-circle d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
								4
							</div>
						</div>
						<div>
							<h5 class="mb-1">Seamless Execution</h5>
							<p class="mb-0 small text-muted">We bring designs to reality with precision fabrication and installation services.</p>
						</div>
					</div>
					<div class="col-12 col-sm-6 d-flex">
						<div class="me-3">
							<div class="border rounded-circle d-flex align-items-center justify-content-center" style="width:60px; height:60px;">
								5
							</div>
						</div>
						<div>
							<h5 class="mb-1">Final Check & Handover</h5>
							<p class="mb-0 small text-muted">A detailed final review and quality assurance before we deliver the finished product.</p>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- Team Section -->
		<section class="team bg-white">
			<h2 class="text-last fw-bold my-3">Meet Our Team</h2>
			<div class="d-lg-flex gap-3 container d-block">
				<div class="director text-center shadow p-3">
					<h3 class="text-secondary my-2">Bajarang Lal Didwania</h3>
					<h5 class="text-last">Founder & Chairman</h5>
					<p class="text-black-50">Bajarang Lal Didwania, the visionary behind Namdev Infratech, brings decades of industry experience and unwavering dedication. His leadership has been the cornerstone of our company's success and growth. Under his guidance, Namdev Infratech has evolved into a trusted name in the steel industry, known for its commitment to quality and innovation. His passion for excellence and his forward-thinking approach continue to inspire the entire team.</p>
				</div>
				<div class="director text-center shadow p-3">
					<h3 class="text-secondary w-200 my-2">Anirudh Didwania</h3>
					<h5 class="text-last">Head of Purchase and Sales</h5>
					<p class="text-black-50">Anirudh Didwania expertly manages our purchase and sales operations, ensuring that every client receives top-quality materials. His strategic insight and commitment to excellence drive our operational success. With a keen eye for market trends and a strong network of suppliers, Anirudh ensures that Namdev Infratech consistently meets and exceeds customer expectations. His dedication to maintaining the highest standards of service is a key pillar of our business.</p>
				</div>
				<div class="director text-center shadow p-3">
					<h3 class="text-secondary w-200 my-2">Nakul Didwania</h3>
					<h5 class="text-last">Director of Marketing & Sales</h5>
					<p class="text-black-50">Nakul Didwania leads our marketing and sales initiatives, focusing on expanding Namdev Infratech's reach and enhancing our brand. His innovative strategies and customer-first approach propel our growth and market presence. Nakul's expertise in market analysis and his creative vision have been instrumental in positioning Namdev Infratech as a leader in the steel industry. His commitment to building strong client relationships and driving sales growth is unmatched.</p>
				</div>
				<div class="director text-center shadow p-3">
					<h3 class="text-secondary w-200 my-2">Rahul Didwania</h3>
					<h5 class="text-last">Business Development</h5>
					<p class="text-black-50">Rahul Didwania drives our business development efforts, identifying new opportunities and fostering valuable partnerships. His dynamic approach and industry acumen play a vital role in our continuous expansion and success. Rahul's proactive mindset and strategic planning skills enable Namdev Infratech to explore new markets and develop innovative solutions. His focus on long-term growth and sustainability ensures that Namdev Infratech remains at the forefront of the industry.</p>
				</div>
				<!-- Add more team members here -->
			</div>
		</section>

		<hr/>

		<!-- Sustainability & Innovation Section -->
		<section class="sustainability">
			<div class="container">
				<div class="sustainability-content">
					<h2 class="text-secondary fw-bold">Sustainability & Innovation</h2>
					<p class="text-last">We are committed to sustainable practices and continuous innovation to meet the challenges of the future.</p>
					<div
						class="infographics"><!-- Add infographic icons and text here -->
					</div>
				</div>
			</div>
		</section>

		<!-- Call to Action Section -->
		<section class="cta bg-primary">
			<h2 class="text-secondary fw-bold">Get in Touch</h2>
			<p class="text-last mb-4">Contact us to learn more about our products and services.</p>
			<a href="{{ path('app_contact_us') }}" class="cta-button bg-secondary fw-bold">Contact Us</a>
		</section>
	</section>

	{#    <section class="page-title py-4">#}
{#        <div class="text-center animate__animated  animate__fadeInDown">#}
	{#            <h2 class="text-primary mb-3">About Us</h2>#}
	{#        </div>#}
	{#        <div class="text-center container animate__animated  animate__fadeInDown">#}
	{#            <p class="text-secondary m-0">At Namdev Infratech, we are committed to building a stronger tomorrow through decades of expertise in fabricating and supplying structural metals. As a family-run business with a rich legacy, we specialize in providing top-quality materials for construction projects & best-in-class fabrication services. Our dedication to excellence and innovation ensures that every product we deliver meets the highest standards of durability and performance.</p>#}
	{#        </div>#}
	{#    </section>#}

	{#    <section class="vision">#}
	{#        <div class="text-center animate__animated  animate__fadeInDown">#}
	{#            <h2 class="text-primary mt-5 mb-3">Our Vision</h2>#}
	{#        </div>#}
	{#        <div class="text-center container animate__animated  animate__fadeInDown">#}
	{#            <p class="text-secondary">To be the global leader in structural metal fabrication and supply, driving innovation and sustainability in construction, and building a stronger, more resilient world for future generations.</p>#}
	{#        </div>#}
	{#    </section>#}

	{#    <section class="mission">#}
	{#        <div class="text-center animate__animated  animate__fadeInDown">#}
	{#            <h2 class="text-primary mt-5 mb-3">Our Mission</h2>#}
	{#        </div>#}
	{#        <div class="text-center container animate__animated  animate__fadeInDown">#}
	{#            <p class="text-secondary">Our mission is to deliver superior-quality structural metals with unparalleled craftsmanship and service. We are dedicated to fostering long-term relationships with our clients by consistently exceeding their expectations through innovation, integrity, and a commitment to excellence. We aim to support and advance the construction industry by providing reliable, sustainable solutions that contribute to developing robust infrastructures worldwide.</p>#}
	{#        </div>#}
	{#    </section>#}

	{#    <section class="meet-our-team mb-4">#}
	{#        <div class="text-center animate__animated  animate__fadeInDown">#}
	{#            <h2 class="text-primary mt-5 mb-3">Meet the Team</h2>#}
	{#        </div>#}
	{#        <div class="container directors d-flex flex-wrap justify-content-around">#}
	{#            <div class="director text-center shadow p-3">#}
	{#                <h3 class="text-secondary w-250">Bajarang Lal Didwania</h3>#}
	{#                <h5 class="text-primary">Founder & Chairman</h5>#}
	{#                <p class="text-black-50">Bajarang Lal Didwania, the visionary behind Namdev Infratech, brings decades of industry experience and unwavering dedication. His leadership has been the cornerstone of our company's success and growth. Under his guidance, Namdev Infratech has evolved into a trusted name in the steel industry, known for its commitment to quality and innovation. His passion for excellence and his forward-thinking approach continue to inspire the entire team.</p>#}
	{#            </div>#}
	{#            <div class="director text-center shadow p-3">#}
	{#                <h3 class="text-secondary w-250">Anirudh Didwania</h3>#}
	{#                <h5 class="text-primary">Head of Purchase and Sales</h5>#}
	{#                <p class="text-black-50">Anirudh Didwania expertly manages our purchase and sales operations, ensuring that every client receives top-quality materials. His strategic insight and commitment to excellence drive our operational success. With a keen eye for market trends and a strong network of suppliers, Anirudh ensures that Namdev Infratech consistently meets and exceeds customer expectations. His dedication to maintaining the highest standards of service is a key pillar of our business.</p>#}
	{#            </div>#}
	{#            <div class="director text-center shadow p-3">#}
	{#                <h3 class="text-secondary w-250">Nakul Didwania</h3>#}
	{#                <h5 class="text-primary">Director of Marketing & Sales</h5>#}
	{#                <p class="text-black-50">Nakul Didwania leads our marketing and sales initiatives, focusing on expanding Namdev Infratech's reach and enhancing our brand. His innovative strategies and customer-first approach propel our growth and market presence. Nakul's expertise in market analysis and his creative vision have been instrumental in positioning Namdev Infratech as a leader in the steel industry. His commitment to building strong client relationships and driving sales growth is unmatched.</p>#}
	{#            </div>#}
	{#            <div class="director text-center shadow p-3">#}
	{#                <h3 class="text-secondary w-250">Rahul Didwania</h3>#}
	{#                <h5 class="text-primary">Business Development</h5>#}
	{#                <p class="text-black-50">Rahul Didwania drives our business development efforts, identifying new opportunities and fostering valuable partnerships. His dynamic approach and industry acumen play a vital role in our continuous expansion and success. Rahul's proactive mindset and strategic planning skills enable Namdev Infratech to explore new markets and develop innovative solutions. His focus on long-term growth and sustainability ensures that Namdev Infratech remains at the forefront of the industry.</p>#}
	{#            </div>#}
	{#        </div>#}
	{#    </section>#}
{% endblock %}
