{% extends 'base.html.twig' %}

{% block title %}
	{{ page.title }}
{% endblock %}
{% block meta_description %}
	{{ page.description }}
{% endblock %}
{% block meta_keywords %}
	{{ page.keyword }}
{% endblock %}
{% block body %}
	<div class="">
		<section class="hero content">
			<div id="carouselExampleCaptions" class="carousel slide">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<picture>
							<!-- Extra small screens (xs) -->
							<source
							srcset="uploads/carousel/carousel-sm.png" media="(max-width: 767px)">

							<!-- Fallback image (if none of the above match) -->
							<img src="uploads/carousel/carousel1.jpeg" alt="Responsive Image">

						</picture>


						{# <img src="uploads/carousel/carousel1.jpeg" class="d-block" alt="..."> #}

						<div class="carousel-caption d-flex flex-column justify-content-center h-100">
							<h1 class="animate__animated animate__backInDown">Building a
								<span class="text-secondary">stronger tomorrow</span>
								<br/>with generations of expertise</h1>
							<a class="animate__animated animate__backInDown btn bg-body-tertiary text-primary btn-lg w-200 m-0  text-uppercase fw-bold rounded-pill" href="{{ path('app_contact_us') }}">Get in touch</a>
						</div>
					</div>
					<div class="carousel-item">
						<img src="uploads/carousel/carousel2.jpeg" class="d-block" alt="...">
						<div class="carousel-caption d-flex flex-column justify-content-center h-100">
							<h1 class="animate__animated animate__backInDown">Your trusted source for
								<br/><span class="text-primary">high-quality structural materials</span>
							</h1>
							<a class="animate__animated animate__backInDown btn bg-body-tertiary text-white btn-lg w-200 m-0 text-uppercase fw-bold rounded-pill" href="{{ path('app_contact_us') }}">Get in touch</a>
						</div>
					</div>
					<div class="carousel-item">
						<img src="uploads/carousel/carousel3.jpeg" class="d-block" alt="...">

						<div class="carousel-caption d-flex flex-column justify-content-center h-100">
							<h1 class="animate__animated animate__backInDown">
								<span class="text-primary fw-bold">Precision</span>
								<span class="text-primary">
									and
								</span>
								<span class="text-primary fw-bold">excellence</span>
								<br/>
								in every crafted piece</h1>
							<a class="animate__animated animate__backInDown btn bg-primary text-white btn-lg w-200 m-0 text-uppercase fw-bold rounded-pill" href="{{ path('app_contact_us') }}">Get in touch</a>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</section>

		<section class="name-change">
			<div class="container my-3">
				<div class="text-center">
					<h1 class="text-secondary fw-bold mb-3">A New Name, A Stronger Commitment</h1>
					<p class="text-center m-0">Namadeva Steel Center is now
						<span class="text-last">Namdev Infratech</span>
						to better represent what we do today. What started in
						<strong>2003</strong>
						as a simple material supply business has grown into a complete solution provider for interior design, architecture, and construction. From handling
						<strong>25 tonnes</strong>
						back then to managing
						<strong>400 tonnes</strong>
						per month now, we’ve come a long way.
						<br/>
						Over the years, we’ve learned a lot about the challenges
						<span class="fst-italic text-last">designers, architects, and contractors</span>
						face, and we’ve adapted to meet their needs. With services like
						<span class="fst-italic text-last">custom fabrication, laser cutting, HR plate cutting, and more</span>, our new name reflects our commitment to providing innovative, reliable solutions that help turn their ideas into reality.</p>


				</div>
			</div>
		</section>

		<section class="infographic-wrapper mb-4 bg-secondary">
			<div class="container">
				<div class="infographic text-center p-4">
					<h2 class="text-primary my-2">Namdev Infratech</h2>
					<p class="m-0 fst-italic fw-semibold text-white-50">Build a strongest tomorrow with generations of expertise.</p>

					<div class="row justify-content-lg-between align-items-center justify-content-center">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6 px-0 content">
							<div class="icon mx-0">
								<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-primary bi bi-buildings" viewbox="0 0 16 16">
									<path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022M6 8.694 1 10.36V15h5zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5z"/>
									<path d="M2 11h1v1H2zm2 0h1v1H4zm-2 2h1v1H2zm2 0h1v1H4zm4-4h1v1H8zm2 0h1v1h-1zm-2 2h1v1H8zm2 0h1v1h-1zm2-2h1v1h-1zm0 2h1v1h-1zM8 7h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zM8 5h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zm0-2h1v1h-1z"/>
								</svg>
							</div>
							<p class="text-tertiary w-200 fw-bold">
								<span id="yearsInIndustry">27</span>+ years in the industry</p>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6 px-0 content">
							<div class="icon mx-0">
								<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-primary bi bi-award" viewbox="0 0 16 16">
									<path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702z"/>
									<path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z"/>
								</svg>
							</div>
							<p class="text-tertiary w-180 fw-bold">
								<span id="yearsOfExpertise">70</span>+ years of expertise</p>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6 px-0 content">
							<div class="icon mx-0">
								<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-primary bi bi-people" viewbox="0 0 16 16">
									<path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
								</svg>
							</div>
							<p class="text-tertiary w-200 fw-bold">
								<span id="happyClients">150</span>K+ happy clients</p>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6 px-0 content">
							<div class="icon mx-0">
								<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-primary" viewbox="0 0 576 512">
									<path d="M64 32C46.3 32 32 46.3 32 64l0 240 0 48 0 80c0 26.5 21.5 48 48 48l416 0c26.5 0 48-21.5 48-48l0-128 0-151.8c0-18.2-19.4-29.7-35.4-21.1L352 215.4l0-63.2c0-18.2-19.4-29.7-35.4-21.1L160 215.4 160 64c0-17.7-14.3-32-32-32L64 32z"/>
								</svg>
							</div>
							<p class="text-tertiary w-200 fw-bold">
								<span id="monthlySale">400</span>+ tonnes sold in a month</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="about-us mb-4">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<img class="img-fluid border-radius-12" src="{{ asset('uploads/application/fabrication-and-engineering-667efaa38ea1a912968755.jpeg') }}" alt="Construction Worker">
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="d-flex align-items-center h-100">
							<div class="">
								<h2 class="text-last fw-bold my-2">WELCOME TO NAMDEV INFRATECH</h2>
								<h5 class="text-secondary fw-bold my-2">Bringing 40 Years of Expertise to Your Steel Needs</h5>
								<p>At Namdev Infratech, we’re dedicated to shaping a stronger future with our quality steel.</p>
								<p>As a family-run business with a legacy of excellence spanning over four decades, we provide top-notch materials that suit your needs. Speak to us and see how our commitment to durability and performance can build your next project!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="products py-4 content">
			<div class="text-center">
				<h2 class="text-secondary">Our Products</h2>
				<p class="text-black-50 fst-italic fw-semibold">Durable structural solutions that ensure reliability and quality for every project</p>
			</div>

			<div class="container">
				<div class="row g-3 py-3">
					<div class="col-lg-3 col-md-3 col-sm-6 col-6 d-flex justify-content-center">
						<a href="{{ path('app_product_index') }}?type=structural-steel" class="btn btn-secondary fw-bold">Stuctural Steel</a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-6 d-flex justify-content-center">
						<a href="{{ path('app_product_index') }}?type=roofing-solutions" class="btn btn-primary fw-bold text-black">Roofing Solutions</a>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6 col-6 d-flex justify-content-center">
						<a href="{{ path('app_product_index') }}?type=jali-products" class="btn btn-secondary fw-bold">Jali Products</a>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-6 col-6 d-flex justify-content-center">
						<a href="{{ path('app_product_index') }}?type=exterior-solutions" class="btn btn-primary fw-bold text-black">Exterior Solutions</a>
					</div>
				</div>
			</div>

			<div class="container d-none d-md-block my-5">
				<div class="d-flex gap-2 justify-content-center align-items-center">
					{% for product in products %}
						<a itemscope itemtype="https://schema.org/Product" class="card rounded-4 border-0 shadow overflow-hidden" href="{{ path('app_product_detail', {'slug': product.slug}) }}">
							<img itemprop="image" src="{{ asset('uploads/product') }}/{{ product.productMedia[0].image }}" alt="{{ product.productMedia[0].image }}"/>
							<div class="position-absolute product-name content">
								<h4 itemprop="name" class="p-3 shadow rounded-2 fw-bold text-white">{{ product.name }}</h4>
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
			<div class="container d-block d-md-none">
				<div class="d-flex justify-content-center align-items-center gap-3 flex-wrap flex-sm-nowrap">
					{% for product in products %}
						<a href="{{ path('app_product_detail', {'slug': product.slug}) }}">
							<div itemscope itemtype="https://schema.org/Product" class="image-container">
								<img itemprop="image" src="{{ asset('uploads/product') }}/{{ product.productMedia[0].image }}" alt="{{ product.productMedia[0].image }}">
								<div class="overlay">
									<h4 itemprop="name" class="m-0 p-2">{{ product.name }}</h4>
								</div>
							</div>
						</a>
					{% endfor %}
				</div>

				<div class="d-flex justify-content-center align-items-center py-2">
					<a class="btn bg-body-tertiary text-white btn-lg w-200 m-0  text-uppercase fw-bold rounded-pill" href="{{ path('app_product_index') }}">View all</a>
				</div>
			</div>
		</section>

		<section class="services">
			<div class="bg-secondary pt-5 pb-3">
				<div class="container">
					<div class="text-center">
						<h2 class="text-white">Our Services</h2>
						<p class="text-white-50 fst-italic fw-semibold">Expanding Our Services for Your Needs.</p>
					</div>

					<div>
						<p class="text-center text-white">
							At Namadev Infratech, after two decades of delivering top-quality steel, we’ve expanded our offerings to meet the evolving needs of our clients. Our expertise now spans a wide range of fabrication services, from custom steel structures to specialized solutions for construction and industrial projects. We’ve listened to our clients, understood their requirements, and crafted tailored services to provide the best results. With our experience and commitment to quality, we’re here to turn your vision into reality with precision and care.
						</p>
					</div>

					<div class="swiper services-swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide content position-relative">
								<a href="{{ path('app_contact_us') }}" class="d-block position-relative">
									<img class="shadow rounded-3 w-100" src="images/services/structural.webp" alt="structural"/>
									<p class="bg-secondary p-3 m-0 position-absolute start-50 top-50 translate-middle rounded-3 shadow fw-bold text-center">
										Structural Fabrication
									</p>
								</a>
							</div>

							<div class="swiper-slide content position-relative">
								<a href="{{ path('app_contact_us') }}" class="d-block position-relative">
									<img class="shadow rounded-3 w-100" src="images/services/general.webp" alt="general"/>
									<p class="bg-secondary p-3 m-0 position-absolute start-50 top-50 translate-middle rounded-3 shadow fw-bold text-center">
										General Fabrication
									</p>
								</a>
							</div>

							<div class="swiper-slide content position-relative">
								<a href="{{ path('app_contact_us') }}" class="d-block position-relative">
									<img class="shadow rounded-3 w-100" src="images/services/elevation.webp" alt="structural"/>
									<p class="bg-secondary p-3 m-0 position-absolute start-50 top-50 translate-middle rounded-3 shadow fw-bold text-center">
										Elevation/Facade Service
									</p>
								</a>
							</div>

							<div class="swiper-slide content position-relative">
								<a href="{{ path('app_contact_us') }}" class="d-block position-relative">
									<img class="shadow rounded-3 w-100" src="images/services/wall-partition.webp" alt="metal partition"/>
									<p class="bg-secondary p-3 m-0 position-absolute start-50 top-50 translate-middle rounded-3 shadow fw-bold text-center">
										Metal Partition
									</p>
								</a>
							</div>

							<div class="swiper-slide content position-relative">
								<a href="{{ path('app_contact_us') }}" class="d-block position-relative">
									<img class="shadow rounded-3 w-100" src="images/services/warehouses.webp" alt="warehouse"/>
									<p class="bg-secondary p-3 m-0 position-absolute start-50 top-50 translate-middle rounded-3 shadow fw-bold text-center">
										Warehouses
									</p>
								</a>
							</div>

							<div class="swiper-slide content position-relative">
								<a href="{{ path('app_contact_us') }}" class="d-block position-relative">
									<img class="shadow rounded-3 w-100" src="images/services/custom.webp" alt="custom"/>
									<p class="bg-secondary p-3 m-0 position-absolute start-50 top-50 translate-middle rounded-3 shadow fw-bold text-center">
										Custom Jobs
									</p>
								</a>
							</div>


						</div>
						<div class="swiper-pagination"></div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
					<d class="d-flex justify-content-center align-items-center">
						<a class="btn bg-primary text-secondary btn-lg w-200 m-0  text-uppercase fw-bold rounded-pill my-3" href="{{ path('app_contact_us') }}">Get in touch</a>
					</d>


				</div>
			</div>
		</section>

		<hr class="bg-secondary m-0"/>

		<section class="how-we-work bg-secondary">
			<div class="container p-5">
				<div class="text-center mb-5">
					<h2 class="text-primary">How We Work</h2>
					<p class="text-white-50 fst-italic fw-semibold">We don't focus on selling what we want; instead, we aim to offer our customers what's truly best for them.</p>
				</div>
				<div class="infographic">
					<div class="row justify-content-lg-between flex-wrap align-items-center justify-content-center">
						<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 col-6 content text-center">
							<div class="icon mx-0">
								<i class="fa-regular fa-envelope text-primary fa-2x"></i>
							</div>
							<p class="text-tertiary fw-bold">Send an Enquiry</p>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 col-6 content text-center">
							<div class="icon mx-0">
								<i class="fa-solid fa-phone text-primary fa-2x"></i>
							</div>
							<p class="text-tertiary fw-bold">Get a call</p>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 col-6 content text-center">
							<div class="icon mx-0">
								<i class="fa-solid fa-gear text-primary fa-2x"></i>
							</div>
							<p class="text-tertiary fw-bold">Place your order</p>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 col-6 content text-center">
							<div class="icon mx-0">
								<i class="fa-solid fa-truck-fast text-primary fa-2x"></i>
							</div>
							<p class="text-tertiary fw-bold">We'll Transport Order</p>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 col-6 content text-center">
							<div class="icon mx-0">
								<i class="fa-regular fa-calendar-check text-primary fa-2x"></i>
							</div>
							<p class="text-tertiary fw-bold">Get on-time delivery</p>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="brands py-4">
			<div class="text-center">
				<h2 class="text-secondary">Brands we deal</h2>
			</div>
			<div class="swiper mySwiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide content">
						<img src="{{ asset('images/brands/jindal.jpeg') }}" alt="jindal"/>
					</div>
					<div class="swiper-slide content"><img src="{{ asset('images/brands/a-one.jpg') }}" alt="a-one"/>
					</div>
					<div class="swiper-slide content"><img src="{{ asset('images/brands/apollo-pipes.png') }}" alt="apollo-pipes"/>
					</div>
					<div class="swiper-slide content"><img src="{{ asset('images/brands/meenakshi-tmt.png') }}" alt="meenakshi"/>
					</div>
					<div class="swiper-slide content"><img src="{{ asset('images/brands/nezone-logo.png') }}" alt="nezone"/>
					</div>
					<div class="swiper-slide content"><img src="{{ asset('images/brands/vizag-steel-logo.png') }}" alt="vizag"/>
					</div>
					<div class="swiper-slide content"><img src="{{ asset('images/brands/jsw.png') }}" alt="jsw"/>
					</div>
					<div class="swiper-slide content"><img src="{{ asset('images/brands/sail.png') }}" alt="sail"/>
					</div>
					<div class="swiper-slide content"><img src="{{ asset('images/brands/tata-steel.png') }}" alt="tata-steel"/>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</section>


		<section class="testimonials">
			<div class="row m-0 p-0">
				<div class="col-lg-6 col-md-12 bg-secondary py-5 px-0">
					<div class="d-flex align-items-center justify-content-center h-100">
						<div class="container">
							<p class="text-primary fw-bold ">Read Testimonials</p>
							<h1 class="text-tertiary fw-bold">It’s a joy to hear back from our clients!</h1>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 bg-primary py-5 px-0">
					<div class="d-flex align-items-center justify-content-center h-100">
						<div class="swiper testimonial-swiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="client-testimonials mt-5">
										<div class="d-flex justify-content-center my-3">
											<img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="40" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
										</div>

										<h5 class="text-center text-secondary m-0">"Namdev Infratech thay take care of customer needs and providing best quality.<br/>
											They have all industrial materials which is used mostly.<br/>
											And the staff very polite."</h5>
										<p class="text-end me-5 text-tertiary m-0">-Devaraj Raj</p>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="client-testimonials mt-5">
										<div class="d-flex justify-content-center my-3">
											<img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="40" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
										</div>
										<h5 class="text-center text-secondary m-0">"I deal with them for my structural metal requirements.<br/>
											Industrial shed and other structural items available here.<br/>
											Good job guys, keep it up."</h5>
										<p class="text-end me-5 text-tertiary m-0">- Chitti Chitti</p>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="client-testimonials mt-5">
										<div class="d-flex justify-content-center my-3">
											<img src="https://bootdey.com/img/Content/avatar/avatar3.png" width="40" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
										</div>
										<h5 class="text-center text-secondary m-0">"I came here through reference, they did a good job with product suggestions, pricing and quality.<br/>
											Definitely gonna suggest them to my circle."</h5>
										<p class="text-end me-5 text-tertiary m-0">-Asif Asif</p>
									</div>
								</div>

							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>

				</div>
			</div>
		</section>


		<section class="blogs py-4 content">
			<div class="text-center">
				<h2 class="text-secondary fw-bold">Our Blogs</h2>
				<p class="fw-semibold text-black-50 fst-italic">Latest Blog Updates</p>
			</div>

			<div class="container">
				<div class="row">
					{% for blog in blogs %}
						<div class="col-lg-4 col-md-12 mt-4 pt-2 blog">
							<a class="text-decoration-none" href="{{ path('app_knowledge_hub_blogs_blog', {'slug' : blog.slug}) }}">
								<div class="blog-post rounded border">
									<div class="blog-img d-block overflow-hidden position-relative">
										<img src="{{ asset('uploads/blogs') }}/{{ blog.blogsMedia[0].image }}" class="img-fluid rounded-top w-100" alt="">
										<div class="overlay rounded-top bg-dark"></div>
									</div>
									<div class="content p-3">
										<div class="d-flex justify-content-between">
											<small class="text-muted p float-right">{{ blog.createdAt | date('jS M, y') }}</small>
											<small>
												<a href="{{ path('app_knowledge_hub_blogs_blog', {'slug' : blog.slug}) }}" class="text-secondary text-decoration-none">{{ blog.tags }}</a>
											</small>
										</div>

										<h4 class="mt-2">
											<a href="{{ path('app_knowledge_hub_blogs_blog', {'slug' : blog.slug}) }}" class="text-secondary title text-decoration-none">{{ blog.name }}</a>

										</h4>
										{% if blog.author %}
											<div class="pt-3 mt-3 border-top d-flex gap-2">
												<img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="30" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
												<div class="author mt-2">
													<h6 class="mb-0 text-muted">{{ blog.author }}</h6>
												</div>
											</div>
										{% endif %}
									</div>
								</div>
							</a>
						</div>
					{% endfor %}


				</div>

				<div class="d-flex justify-content-center align-items-center py-2">
					<a class="btn bg-body-tertiary text-white btn-lg w-200 m-0  text-uppercase fw-bold rounded-pill" href="{{ path('app_knowledge_hub_blogs') }}">View all</a>
				</div>
			</div>
		</section>

	</div>
{% endblock %}
