{% extends 'base.html.twig' %}

{% block title %}Our Products - Namdev Infratech
{% endblock %}

{% block body %}

	{% set flash_messages = app.flashes %}


	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}#}

					<div class="row">

						<div class="col-md-6 col-sm-12">
							<div class="mb-3">
								<label for="phone" class="form-label text-black">{{ form_label(form.phone) }}</label>
								{{ form_widget(form.phone, {'attr': {'class': 'form-control', 'id': 'phone', 'required': true}}) }}
								{{ form_errors(form.phone) }}
							</div>
						</div>

						<div class="col-md-6 col-sm-12">
							<div class="mb-3">
								<label for="product" class="form-label text-black">{{ form_label(form.product) }}</label>
								{{ form_widget(form.product, {'attr': {'class': 'form-control', 'id': 'product', 'required': true}}) }}
								{{ form_errors(form.product) }}
							</div>
						</div>

					</div>

					<div class="text-center">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>

					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>


	<section class="page-title py-4">
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item">
						<a href="{{ path('app_homepage') }}" class="text-decoration-none">Home</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{ path('app_product_index') }}" class="text-decoration-none">Product</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
				</ol>
			</nav>
		</div>
	</section>

	{% if flash_messages|length > 0 %}
		<div id="flash-messages">
			{% for label, messages in flash_messages %}
				{% for message in messages %}
					<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						{{ message|trans|raw }}
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	{% endif %}


	<!-- Hero Section -->
	<section class="hero container">
		<div class="row">
			<div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
				{% for image in product.productMedia %}
					<img class="rounded img-fluid" src="{{ asset('uploads/product/'~image) }}" alt="{{ image }}">
				{% endfor %}
			</div>
			<div class="col-lg-6 col-md-12 py-3">
				<h1 class="text-secondary">{{ product.name }}</h1>
				<h4 class="">INR
					{{ product.amount / 100 }}</h4>

				<div class="pt-2">
					<p>{{ product.description | raw }}</p>

					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Get a Quote
					</button>
				</div>
			</div>
		</div>
	</section>

	<!-- Marquee section -->
	<section class="pt-5 bg-light">
		<marquee class="border border-1 py-3" direction="left" loop="">
			<div class="marquee-content">
				<div class="marquee-item">
					<ul>
						<li>Best
							{{ product.name }}
							in the market</li>
					</ul>
				</div>

				<div class="marquee-item">
					<ul>
						<li>Contact Us to avail discounts</li>
					</ul>
				</div>

				<div class="marquee-item">
					<ul>
						<li>High-quality
							{{ product.name }}
							you can trust</li>
					</ul>
				</div>

				<div class="marquee-item">
					<ul>
						<li>Exclusive deals on
							{{ product.name }}
							this season</li>
					</ul>
				</div>

				<div class="marquee-item">
					<ul>
						<li>Shop now for premium
							{{ product.name }}</li>
					</ul>
				</div>

				<div class="marquee-item">
					<ul>
						<li>Affordable prices on top-rated
							{{ product.name }}</li>
					</ul>
				</div>

				<div class="marquee-item">
					<ul>
						<li>Upgrade your lifestyle with
							{{ product.name }}</li>
					</ul>
				</div>

				<div class="marquee-item">
					<ul>
						<li>Discover the best
							{{ product.name }}
							offers today</li>
					</ul>
				</div>
			</div>
		</marquee>
	</section>

	<!-- Tabs -->

	{#    <hr />#}
	{#    <section class="tabs">#}
	{#        <ul class="nav nav-pills mb-3 justify-content-center align-items-center" id="pills-tab" role="tablist">#}
	{#            <li class="nav-item" role="presentation">#}
	{#                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Variants</button>#}
	{#            </li>#}
	{#            <li class="nav-item" role="presentation">#}
	{#                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Why Choose Us</button>#}
	{#            </li>#}
	{#            <li class="nav-item" role="presentation">#}
	{#                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Key Features</button>#}
	{#            </li>#}
	{#        </ul>#}
	{#        <div class="tab-content" id="pills-tabContent">#}
	{#            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">#}
	{#                <div class="py-5 bg-primary-subtle variants">#}
	{#                    <div class="container">#}
	{#                        <div class="d-flex justify-content-center align-items-center mb-3">#}
	{#                            <h3 class="text-secondary content">Our Variants</h3>#}
	{#                        </div>#}
	{#                        <div class="row justify-content-center">#}
	{#                            <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-0">#}
	{#                                <div class="card content border-0 shadow hover-card">#}
	{#                                    <img src="{{ asset('uploads/product/square-pipe.png') }}" height="180" class="card-img-top object-fit-contain" alt="square-pipe">#}
	{#                                    <div class="card-body">#}
	{#                                        <h5 class="card-title">Square</h5>#}
	{#                                        <p class="card-text">The square pipes (for construction) are also called ”hollow sections”.</p>#}
	{#                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">#}
	{#                                            Get a Quote#}
	{#                                        </button>#}
	{#                                    </div>#}
	{#                                </div>#}
	{#                            </div>#}
	{#                            <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-0">#}
	{#                                <div class="card content border-0 shadow hover-card">#}
	{#                                    <img src="{{ asset('uploads/product/rectangle-pipes.png') }}" height="180" class="card-img-top object-fit-contain" alt="rectangle-pipe">#}
	{#                                    <div class="card-body">#}
	{#                                        <h5 class="card-title">Rectangle</h5>#}
	{#                                        <p class="card-text">The  pipes (for construction) are also called ”hollow sections”.</p>#}
	{#                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">#}
	{#                                            Get a Quote#}
	{#                                        </button>#}
	{#                                    </div>#}
	{#                                </div>#}
	{#                            </div>#}
	{#                            <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-0">#}
	{#                                <div class="card content border-0 shadow hover-card">#}
	{#                                    <img src="{{ asset('uploads/product/round-pipes.png') }}" height="180" class="card-img-top object-fit-contain" alt="round-pipe">#}
	{#                                    <div class="card-body">#}
	{#                                        <h5 class="card-title">Round</h5>#}
	{#                                        <p class="card-text">The square pipes (for construction) are also called ”hollow sections”.</p>#}
	{#                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">#}
	{#                                            Get a Quote#}
	{#                                        </button>#}
	{#                                    </div>#}
	{#                                </div>#}
	{#                            </div>#}
	{#                        </div>#}
	{#                    </div>#}
	{#                </div>#}
	{#            </div>#}
	{#            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">#}
	{#                <div class="why-choose py-5">#}
	{#                    <div class="container-fluid container-sm">#}
	{#                        <div class="d-flex justify-content-center align-items-center mb-3">#}
	{#                            <h3 class="text-secondary content">Why Choose Us</h3>#}
	{#                        </div>#}

	{#                        <div class="row justify-content-center">#}
	{#                            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 mb-lg-0">#}
	{#                                <div class="advantage-item custom-solutions content justify-content-center align-items-center">#}
	{#                                    <div class="icon">#}
	{#                                        <i class="fas fa-cogs"></i>#}
	{#                                    </div>#}
	{#                                    <div>#}
	{#                                        <h5 class="m-0">Custom Solutions</h5>#}
	{#                                    </div>#}
	{#                                </div>#}
	{#                            </div>#}
	{#                            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 mb-lg-0">#}
	{#                                <div class="advantage-item quality-assurance content justify-content-center align-items-center">#}
	{#                                    <div class="icon">#}
	{#                                        <i class="fas fa-check-circle"></i>#}
	{#                                    </div>#}
	{#                                    <div>#}
	{#                                        <h5 class="m-0">Quality Assurance</h5>#}
	{#                                    </div>#}
	{#                                </div>#}
	{#                            </div>#}
	{#                            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 mb-lg-0">#}
	{#                                <div class="advantage-item dedicated-support content justify-content-center align-items-center">#}
	{#                                    <div class="icon">#}
	{#                                        <i class="fas fa-headset"></i>#}
	{#                                    </div>#}
	{#                                    <div>#}
	{#                                        <h5 class="m-0">Dedicated Support</h5>#}
	{#                                    </div>#}
	{#                                </div>#}
	{#                            </div>#}
	{#                            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 mb-lg-0">#}
	{#                                <div class="advantage-item competitive-pricing content justify-content-center align-items-center">#}
	{#                                    <div class="icon">#}
	{#                                        <i class="fas fa-tags"></i>#}
	{#                                    </div>#}
	{#                                    <div>#}
	{#                                        <h5 class="m-0">Competitive Pricing</h5>#}
	{#                                    </div>#}
	{#                                </div>#}
	{#                            </div>#}
	{#                        </div>#}
	{#                    </div>#}
	{#                </div>#}
	{#            </div>#}
	{#            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">#}
	{#                <section class="key-features py-5 bg-primary-subtle">#}
	{#                    <div class="container">#}
	{#                        <h3 class="text-secondary text-center content mb-3">Key Features</h3>#}
	{#                        <div class="row">#}
	{#                            {% for feature in featuresArray %}#}
	{#                                {% set feat = feature|split(':') %}#}
	{#                                <div class="col-md-6 mb-4">#}
	{#                                    <div class="feature-box p-4 border rounded shadow  bg-secondary content">#}
	{#                                        <h5 class="feature-title text-primary mb-3 fw-bold">{{ feat[0]|trim }}</h5>#}
	{#                                        <p class="feature-description text-white">#}
	{#                                            {{ feat[1]|trim }}#}
	{#                                        </p>#}
	{#                                    </div>#}
	{#                                </div>#}
	{#                            {% endfor %}#}
	{#                        </div>#}
	{#                    </div>#}
	{#                </section>#}
	{#            </div>#}
	{#        </div>#}
	{#    </section>#}
	<!-- Our Variants -->
		{% if product.productVariants | length %}
			<div class="py-5 bg-primary-subtle variants"> <div class="container">
				<div class="d-flex justify-content-center align-items-center mb-3">
					<h3 class="text-secondary content">Our Variants</h3>
				</div>
				<div class="row justify-content-center align-items-center">
					{% for variant in product.productVariants %}
						<div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-0">
							<div class="card content border-0 shadow hover-card">
								<img src="{{ asset('uploads/product/') }}{{ variant.image }}" height="180" class="card-img-top object-fit-contain" alt="square-pipe">
								<div class="card-body">
									<h5 class="card-title">{{ variant.name }}</h5>
									<p class="card-text">{{ variant.description }}</p>
									<div class="hover-content d-none">
										<div class="mb-2">
											<h5>Sizes available:</h5>
											<div class="d-flex gap-3">
												{% for size in variant.variantSizes %}
													<small class="p-2 border border-1 rounded-2">{{ size.size }}</small>
												{% endfor %}
											</div>
										</div>

										<div class="mb-2">
											<h5>Types available:</h5>
											<div class="d-flex gap-3">
												{% for option in variant.variantOptions %}
													<small class="p-2 border border-1 rounded-2">{{ option.name }}</small>
												{% endfor %}
											</div>
										</div>
									</div>
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
										Get a Quote
									</button>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}


	<div class="why-choose py-5">
		<div class="container-fluid container-sm">
			<div class="d-flex justify-content-center align-items-center mb-3">
				<h3 class="text-secondary content">Why Choose Us</h3>
			</div>

			<div class="row justify-content-center">
				<div class="col-lg-3 col-md-6 col-sm-12 mb-3 mb-lg-0">
					<div class="advantage-item custom-solutions content justify-content-center align-items-center">
						<div class="icon">
							<i class="fas fa-cogs"></i>
						</div>
						<div>
							<h5 class="m-0">Custom Solutions</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 mb-3 mb-lg-0">
					<div class="advantage-item quality-assurance content justify-content-center align-items-center">
						<div class="icon">
							<i class="fas fa-check-circle"></i>
						</div>
						<div>
							<h5 class="m-0">Quality Assurance</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 mb-3 mb-lg-0">
					<div class="advantage-item dedicated-support content justify-content-center align-items-center">
						<div class="icon">
							<i class="fas fa-headset"></i>
						</div>
						<div>
							<h5 class="m-0">Dedicated Support</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 mb-3 mb-lg-0">
					<div class="advantage-item competitive-pricing content justify-content-center align-items-center">
						<div class="icon">
							<i class="fas fa-tags"></i>
						</div>
						<div>
							<h5 class="m-0">Competitive Pricing</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Key Features Section -->
	<section class="key-features py-5 bg-primary-subtle">
		<div class="container">
			<h3 class="text-secondary text-center content mb-3">Key Features</h3>
			<div class="row">
				{% for feature in product.productKeyFeatures %}
					<div class="col-md-6 mb-4">
						<div class="feature-box p-4 border rounded shadow  bg-secondary content">
							<div class="d-flex gap-5 justify-content-center align-items-center">
								<i class="{{ feature.icon }}"></i>
								<div>
									<h5 class="feature-title text-primary mb-3 fw-bold">{{ feature.title }}</h5>
									<p class="feature-description text-white">
										{{ feature.description }}
									</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="use-cases py-5">
		<div class="container">
			<h3 class="text-secondary text-center content mb-3">Use cases</h3>

			<div class="row g-4 justify-content-center">
				{% for useCase in product.productUseCases %}
					<div class="col-md-6 col-lg-4">
						<div class="card h-100 border-0 shadow content">
							<div class="card-body">
								<div class="d-flex justify-content-center align-items-center gap-3">
									<i class="{{ useCase.icon }}"></i>
									<div>
										<h5 class="card-title text-primary">{{ useCase.name }}</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>
	</section>

	<section class="faq mt-5 py-5 bg-secondary-subtle">
		<div class="container">

			<div class="d-flex gap-3 justify-content-center align-items-center">
				<i class="fas fa-question-circle fa-2x text-secondary"></i>
				<div>
					<h3 class="text-secondary text-center content m-0">Frequently Asked Questions</h3>
				</div>
			</div>
			<p class="card-text text-center">
				Find answers to the most common questions regarding our products and services.
			</p>
			<div class="accordion shadow" id="accordionExample">

				{% for faq in product.faqs %}
					<div class="accordion-item content">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button {{ loop.index != 1 ? 'collapsed' }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{ faq.id }}" aria-expanded="true" aria-controls="collapseOne{{ faq.id }}">
								{{ faq.question }}
							</button>
						</h2>
						<div id="collapseOne{{ faq.id }}" class="accordion-collapse collapse {{ loop.index == 1 ? 'show' }}" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								{{ faq.answer }}
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</section>

	{#    <!-- Applications Section -->#}
	{#    <section class="applications py-5">#}
	{#        <div class="container">#}
	{#            <h2 class="text-center mb-4">Applications</h2>#}
	{#            <div class="row justify-content-around align-items-center gap-2">#}
	{#                {% for application in product.productApplications %}#}
	{#                <div class="col-md-4 p-2 shadow">#}
	{#                    <img src="{{ asset('uploads/application') }}/{{ application.applicationMedia[0].image }}" alt="{{ application.applicationMedia[0].image }}" class="img-fluid rounded-3">#}
	{#                    <h4  class="py-2 m-0">{{ application.name }}</h4>#}
	{#                </div>#}
	{#                {% endfor %}#}
	{#            </div>#}
	{#        </div>#}
	{#    </section>#}


		<section class="products py-4 content"> <div class="text-center">
			<h2 class="text-primary">Our Other Products</h2>
		</div>

		<div class="container">
			<div class="d-flex justify-content-center align-items-center gap-3 flex-wrap flex-sm-nowrap">
				{% for product in products %}
					<a href="{{ path('app_product_detail', {'slug': product.slug}) }}">
						<div itemscope itemtype="https://schema.org/Product" class="image-container">
							<img itemprop="image" src="{{ asset('uploads/product') }}/{{ product.productMedia[0].image }}" alt="{{ product.productMedia[0].image }}">
							<div class="overlay">
								<h4 itemprop="name">{{ product.name }}</h4>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>

			<div class="d-flex justify-content-center align-items-center py-2">
				<a class="btn bg-body-tertiary text-primary btn-lg w-200 m-0  text-uppercase fw-bold rounded-pill" href="{{ path('app_product_index') }}">View all</a>
			</div>
		</div>
	</section>

{% endblock %}
