{% extends 'base.html.twig' %}

{% block title %}Our Products - Namadeva Steels{% endblock %}

{% block body %}
    <section class="page-title py-4">
        <div class="container">
            <div class="text-center animate__animated  animate__fadeInDown">
                <h2 class="text-primary mb-3">Our Products</h2>
            </div>
            <div class="text-center container animate__animated  animate__fadeInDown">
                <p class="text-secondary">At Namadeva, quality meets innovation in every detail. Explore our comprehensive range of structural solutions crafted to enhance your projects with durability and precision.</p>
            </div>
        </div>
    </section>

    <section class="infographic-wrapper mb-4 bg-secondary">
        <div class="container">
            <div class="infographic text-center p-4">
                <h2 class="text-primary my-2">Why Choose Us</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-primary bi bi-calendar-week" viewBox="0 0 16 16">
                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                            </svg>
                        </div>
                        <p class="text-tertiary w-200">Decades of proven experience</p>
                    </div>
                    <div class="col-md-3">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-primary bi bi-tools" viewBox="0 0 16 16">
                                <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                            </svg>
                        </div>
                        <p class="text-tertiary w-180">Exceeds industry standards</p>
                    </div>
                    <div class="col-md-3">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-primary bi bi-gear-fill" viewBox="0 0 16 16">
                                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                            </svg>
                        </div>
                        <p class="text-tertiary w-200">Customized to fit your needs</p>
                    </div>
                    <div class="col-md-3">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-primary bi bi-badge-tm" viewBox="0 0 16 16">
                                <path d="M5.295 11V5.995H7V5H2.403v.994h1.701V11zm3.397 0V7.01h.058l1.428 3.239h.773l1.42-3.24h.057V11H13.5V5.001h-1.2l-1.71 3.894h-.039l-1.71-3.894H7.634V11h1.06z"/>
                                <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z"/>
                            </svg>
                        </div>
                        <p class="text-tertiary w-200">ISO Certified <small>(Check with Rahul)</small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product-listing">
        <div class="container">
            <ul class="nav nav-underline nav-justified mb-3" id="pills-tab" role="tablist">
                {% for key, product in products %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if loop.index == 1 %}active{% endif %}" id="pills-{{ key }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ key }}" type="button" role="tab" aria-controls="pills-{{ key }}" aria-selected="true">
                        {{ key|replace({'_': ' '})|title }}
                    </button>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="pills-tabContent">
                {% for key, product in products %}
                <div class="tab-pane fade {% if loop.index == 1 %}show active{% endif %}" id="pills-{{ key }}" role="tabpanel" aria-labelledby="pills-{{ key }}-tab" tabindex="0">
                    <div class="row py-3">
                        {% for pro in products[key] %}
                        <div class="col-md-4 product">
                            <img src="{{ asset('uploads/product') }}/{{ pro.productMedia[0].image }}" alt="Colour-coated Roofing">
                            <div class="details mx-auto">
                                <h3 class="text-secondary">{{ pro.name }}</h3>
                                <div class="m-0 text-black-50">{{ pro.description | raw }}</div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
