{% extends 'base.html.twig' %}

{% block title %}Our Products - Namadeva Steels{% endblock %}

{% block body %}
    <section class="page-title py-4">
        <div class="container">
            <div class="text-center animate__animated  animate__fadeInDown">
                <h2 class="text-primary mb-3">Our Products</h2>
            </div>
            <div class="text-center container animate__animated  animate__fadeInDown">
                <p class="text-secondary">At Namadeva, quality meets innovation in every detail. Explore our comprehensive range of structural solutions crafted to enhance your projects with durability and precision.</p>
            </div>
        </div>
    </section>

    <section class="infographic-wrapper mb-4 bg-secondary">
        <div class="container">
            <div class="infographic text-center p-4">
                <h2 class="text-primary my-2">Why Choose Us</h2>
                <div class="d-flex justify-content-lg-between gap-5 flex-wrap align-items-center justify-content-center">
                    <div class="">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-primary bi bi-award" viewBox="0 0 16 16">
                                <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702z"/>
                                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z"/>
                            </svg>
                        </div>
                        <p class="text-tertiary w-200 fw-bold">Decades of proven experience</p>
                    </div>
                    <div class="">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-primary bi bi-bar-chart" viewBox="0 0 16 16">
                                <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"/>
                            </svg>
                        </div>
                        <p class="text-tertiary w-180 fw-bold">Exceeds industry standards</p>
                    </div>
                    <div class="">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-primary bi bi-boxes" viewBox="0 0 16 16">
                                <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"/>
                            </svg>
                        </div>
                        <p class="text-tertiary w-200 fw-bold">Right Weight</p>
                    </div>
                    <div class="">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-primary bi bi-tags" viewBox="0 0 16 16">
                                <path d="M3 2v4.586l7 7L14.586 9l-7-7zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586z"/>
                                <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1z"/>
                            </svg>
                        </div>
                        <p class="text-tertiary w-200 fw-bold">Right Pricing</p>
                    </div>
                    <div class="">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="text-primary bi bi-truck" viewBox="0 0 16 16">
                                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                            </svg>
                        </div>
                        <p class="text-tertiary w-200 fw-bold">On time Delivery</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product-listing">
        <div class="container">
            <ul class="nav nav-underline nav-justified mb-3" id="pills-tab" role="tablist">
                {% for key, product in products %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if loop.index == 1 %}active{% endif %}" id="pills-{{ key }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ key }}" type="button" role="tab" aria-controls="pills-{{ key }}" aria-selected="true">
                        {{ key|replace({'_': ' '})|title }}
                    </button>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="pills-tabContent">
                {% for key, product in products %}
                <div class="tab-pane fade {% if loop.index == 1 %}show active{% endif %}" id="pills-{{ key }}" role="tabpanel" aria-labelledby="pills-{{ key }}-tab" tabindex="0">
                    <div class="row py-3">
                        {% for pro in products[key] %}
                        <div class="col-md-4 product">
                            <img src="{{ asset('uploads/product') }}/{{ pro.productMedia[0].image }}" alt="Colour-coated Roofing">
                            <div class="details mx-auto">
                                <h3 class="text-secondary">{{ pro.name }}</h3>
                                <div class="m-0 text-black-50">{{ pro.description | raw }}</div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
