<footer class="border-top bg-body-tertiary text-white">
	<div class="container">
		<div class="row py-5 my-5">
			<div class="col-lg-6 col-md-12 mb-3 d-flex align-items-center ">
				<a href="{{ path('app_homepage') }}" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
					<img src="{{ asset('images/logo-with-tagline.png') }}" class="d-inline-block align-top w-100" alt="Namdev">
				</a>
			</div>

			<div class="col-lg-6 col-md-12 mb-3 text-lg-end text-center">
				<div>
					<h5>Menu</h5>
					<ul class="nav flex-column">
						<li class="nav-item mb-2">
							<a href="{{ path('app_homepage') }}" class="nav-link p-0 text-white-50">Home</a>
						</li>
						<li class="nav-item mb-2">
							<a href="{{ path('app_product_index') }}" class="nav-link p-0 text-white-50">Products</a>
						</li>
						<li class="nav-item mb-2">
							<a href="{{ path('app_application') }}" class="nav-link p-0 text-white-50">Applications</a>
						</li>
						<li class="nav-item mb-2">
							<a href="{{ path('app_about_us') }}" class="nav-link p-0 text-white-50">About Us</a>
						</li>
						<li class="nav-item mb-2">
							<a href="{{ path('app_knowledge_hub') }}" class="nav-link p-0 text-white-50">Knowledge Hub</a>
						</li>
						<li class="nav-item mb-2">
							<a href="{{ path('app_contact_us') }}" class="nav-link p-0 text-white-50">Contact Us</a>
						</li>
					</ul>

				</div>

			</div>
		</div>
	</div>
	<div class="border-top">
		<div class="d-flex flex-column flex-sm-row justify-content-between align-items-center py-2 container">
			<p class="m-0">© 2024 Company, Inc. All rights reserved.</p>
			<ul class="list-unstyled d-flex justify-content-end align-items-center w-50 m-0">
				<li class="ms-3">
					<a class="link-body-emphasis" href="https://www.facebook.com/profile.php?id=61561003422235">
						<i class="fa-brands fa-facebook text-white"></i>
					</a>
				</li>
				<li class="ms-3">
					<a class="link-body-emphasis" href="https://www.instagram.com/namadevasteel/">
						<i class="fa-brands fa-instagram text-white"></i>
					</a>
				</li>
				<li class="ms-3">
					<a class="link-body-emphasis" href="http://www.linkedin.com/in/namadeva-steel-center">
						<i class="fa-brands fa-linkedin text-white"></i>
					</a>
				</li>
			</ul>
		</div>

	</div>
</footer>
