<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="{{ asset('images/logo.png') }}" width="180" class="d-inline-block align-top" alt="Namadeva">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            {% set route = app.request.attributes.get('_route') %}
            <ul class="navbar-nav">
                <li class="nav-item {{ route == 'app_homepage' ? 'active' }} px-2"><a class="nav-link text-white" href="{{ path('app_homepage') }}">Home</a></li>
                <li class="nav-item {{ route == 'app_homepage' ? 'active' }} px-2"><a class="nav-link text-white" href="{{ path('app_homepage') }}">Our Products</a></li>
                <li class="nav-item {{ route == 'app_homepage' ? 'active' }} px-2"><a class="nav-link text-white" href="{{ path('app_homepage') }}">Our Services</a></li>
                <li class="nav-item {{ route == 'app_homepage' ? 'active' }} px-2"><a class="nav-link text-white" href="{{ path('app_homepage') }}">Works</a></li>
                <li class="nav-item {{ route == 'app_homepage' ? 'active' }} px-2"><a class="nav-link text-white" href="{{ path('app_homepage') }}">About Us</a></li>
{#                <li class="nav-item {{ route == 'app_packages' ? 'active' }} px-2"><a class="nav-link" href="{{ path('app_packages') }}">Packages</a></li>#}
{#                <li class="nav-item {{ route == 'app_category_list' ? 'active' }} px-2"><a class="nav-link" href="{{ path('app_category_list') }}">Categories</a></li>#}
                {#                <li class="nav-item {{ route == 'applications' ? 'active' }} px-2"><a class="nav-link" href="{{ path('applications') }}">Applications</a></li>#}
                {#                <li class="nav-item {{ route == 'colors' ? 'active' }} px-2"><a class="nav-link" href="{{ path('colors') }}">Colors</a></li>#}
                {#                <li class="nav-item {{ route == 'brands' ? 'active' }} px-2"><a class="nav-link" href="{{ path('brands') }}">Brands</a></li>#}
                {#                <li class="nav-item {{ route == 'articles' ? 'active' }} px-2"><a class="nav-link" href="{{ path('articles') }}">Articles</a></li>#}
                <li class="nav-item px-2 contact-us d-none d-lg-block text-white"><a class="nav-link text-white py-2">Contact Us</a></li>
            </ul>
            <ul class="navbar-nav">
                {% if route != "homepage" %}
                    <li class="nav-item mx-lg-1 my-lg-0 my-1"><div id="search"></div></li>
                {% endif %}
                {% if app.user %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.email }}
                        </a>
                        <ul class="dropdown-menu">

                            {% if 'ROLE_ADMIN' in app.user.roles %}
                                <li><a class="dropdown-item" href="{{ path('admin_dashboard') }}" target="_blank">Admin</a></li>
                            {% endif %}

                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Log out</a></li>
                        </ul>
                    </li>
                {% else %}
{#                    <li class="nav-item mx-lg-1 my-lg-0 my-1"><a class="btn btn-outline-secondary login" href="{{ path('app_login') }}">Login</a></li>#}
                    {#                        <li class="nav-item mx-lg-1 my-lg-0 my-1"><a class="btn btn-outline-secondary sign-up" href="{{ path('signup') }}">Sign Up</a></li>#}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
